.upper-part{
    background-image: url(Images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
   height: 600px;
    padding-top: 150px;
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 140px;
}
.Header-part{
    text-align: center;
    color:rgb(226, 215, 253);
}
.Header-part p{
    margin-left: 200px;
    margin-right: 280px;
    color:rgb(146, 16, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 70px;
}
.btn{
    margin-right:100px;
    background-image: linear-gradient(rgb(149, 89, 226),rgb(22, 137, 186));
    padding: 10px  35px;
    border-radius: 10px;
     color: white;
}
.middle-part{
    text-align: center;
}
.middle-part h1{
    margin-left: 200px;
}
.middle-part p{
    margin-left: 340px;
    margin-right: 300px;

}
.container{
    position: relative;
    width: 1000px;
  height:300px;
  margin-left: 140px;
  margin-bottom: -100px;
}

.container .box{
    position: relative;
    width: calc(200px - 30px);
    height:calc(150px - 30px) ;
    background: rgb(245, 242, 242);
    float:left;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;

}
.box h3{
    text-align: center;
    font-size: xx-large;
    margin-top: 40px;
}
.form input{
    outline: none;
    width: 750px;
    border: none;
    border-bottom: 2px solid rgb(37, 28, 123);
    padding-top: 20px;
    margin-left: 250px;
    margin-top: -200px;
}
.form ::placeholder{
    color: rgb(64, 14, 180);
    
    text-align:center;
    margin-top: -100px;
}
.container .box:nth-child(2){
    background: rgb(244, 163, 208);
    color: rgb(229, 8, 163);
}
.second-btn{
    margin-top: 20px;
    margin-left: 550px;
    background-image: linear-gradient(rgb(139, 43, 230),tomato);
    padding: 10px  35px;
    border-radius: 5px;
     color: white;
}
.last-part {
    text-align: center;
}
.last-part h1{
    margin-left: 140px;
}
.last-part p{
    margin-left: 280px;
    margin-right: 300px;
}
.last-box{
    display: flex;
    justify-content: center;
    margin-right: 60px;
    padding: 10px;
    margin-left: 20px;
}
.first-icon{
    border:2px solid gray;
    margin:20px;
    border-radius: 4px;
    padding: 8px;
    background: rgb(173, 215, 188);
}
.second-icon{
    border: 2px solid gray;
    margin:20px;
    border-radius: 4px;
    padding: 8px;
    background: rgb(225, 194, 199);
}
.last-icon{
    border: 2px solid gray;
    margin:20px;
    border-radius: 4px;
    padding: 8px;
    background: rgb(222, 202, 206);
}
.foter{
    text-align: center;
    background-color: black;
    color: white;
}
.foter h2{
    color: purple;
    font-family: 'Pacifico', cursive;
}
.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 2px solid gray;
    float: left;
    width: 390px;
   margin-left: 60px;
}
.gallery img{
    width: 100%;
    height: auto;
}
.last-task h1{
  margin-left: 290px;
}
.last-task p{
    margin-left: 240px;
    margin-right: 280px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.extra h1{
    margin-left: 450px;
}
.extra p{
    margin-left: 240px;
    margin-right: 280px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    
}
.form-box{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px;
}
.form-box input{
 font-size: 18px;
 color: black;
 padding: 15px 10px;
 /* border: navajowhite;
 outline: none; */
 background: black;
 border-radius: 5px;
}
.last{
    background-image: linear-gradient(rgb(149, 89, 226),rgb(22, 137, 186));
    padding: 10px  30px;
     color: white;
     width: 150px;
     height: 52px;
     margin-left: -3px;
     margin-bottom: -3px;
     border-radius: 2px;
}