.upper-part{
    background-image: url(Images/donation7.jpg);
    height: 450px;
    padding-top: 150px;
}
h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Header-part{
    text-align: center;
    color:rgb(206, 57, 57);
}
.Header-part p{
    margin-left: 240px;
    margin-right: 200px;
    color:rgb(243, 218, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    margin-right:10px;
    background-image: linear-gradient(rgb(223, 51, 79),tomato);
    padding: 10px  35px;
    border-radius: 10px;
     color: white;
}
.middle-part{
    text-align: center;
}
.middle-part p{
    margin-left: 250px;
    margin-right: 300px;

}
.container{
    position: relative;
    width: 1000px;
  height:300px;
  margin-left: 100px;
  margin-bottom: -100px;
}

.container .box{
    position: relative;
    width: calc(200px - 30px);
    height:calc(150px - 30px) ;
    background: rgb(245, 242, 242);
    float:left;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;

}
.box h3{
    text-align: center;
    font-size: xx-large;
    margin-top: 40px;
}
.form input{
    outline: none;
    width: 750px;
    border: none;
    border-bottom: 2px solid rgb(37, 28, 123);
    padding-top: 20px;
    margin-left: 250px;
    margin-top: -200px;
}
.form ::placeholder{
    color: rgb(64, 14, 180);
    
    text-align:center;
    margin-top: -100px;
}
.container .box:nth-child(2){
    background: rgb(244, 163, 208);
    color: rgb(229, 8, 163);
}
.second-btn{
    margin-top: 20px;
    margin-left: 550px;
    background-image: linear-gradient(rgb(139, 43, 230),tomato);
    padding: 10px  35px;
    border-radius: 5px;
     color: white;
}
.last-part {
    text-align: center;
}
.last-part p{
    margin-left: 250px;
    margin-right: 300px;
}
.last-box{
    display: flex;
    justify-content: center;
    margin-right: 60px;
    padding: 10px;
    margin-left: 20px;
}
.first-icon{
    border:2px solid gray;
    margin:20px;
    border-radius: 4px;
    padding: 8px;
    background: rgb(173, 215, 188);
}
.second-icon{
    border: 2px solid gray;
    margin:20px;
    border-radius: 4px;
    padding: 8px;
    background: rgb(225, 194, 199);
}
.last-icon{
    border: 2px solid gray;
    margin:20px;
    border-radius: 4px;
    padding: 8px;
    background: rgb(222, 202, 206);
}
.foter{
    text-align: center;
    background-color: black;
    color: white;
}
.foter h2{
    color: purple;
    font-family: 'Pacifico', cursive;
}
